# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
### objectives:
+ List popular languages for Data Science.
+ List popular Data Science Tools.
+ Exampl

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-Learn (sklearn)
4. Matplotlib
5. Seaborn

### Data Science Tools
| S.No | Data Science Tools |
| -----| -------------------|
| 1. | Jupiter Notebook |
| 2. | Microsoft Power BI |
| 3. | RStudio |
| 4. | Apache Spark and Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

#This is a simple arithmetic expression yo multiply then add integers

In [1]:
(3*4)+5

17

#This will convert 200 minutes to hours by dividing by 60

In [2]:
200/6

33.333333333333336

# Author
ARCHANA. K